.card {
    background-color: #f9f9f9;
    border-radius: 50px;
    padding: 40px;
    flex: auto;
    margin: 10 10px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  }
  
  
  .card p {
    font-size: 20px;
    margin: auto;
  }


  
  .card h2 {
    margin: 0;
    color: black; /* Warna default untuk <h2> */
  }
  
  .card.positif h2 {
    color: #06D6A0; /* Warna untuk kasus Positif */
  }
  
  .card.sembuh h2 {
    color: #118AB2; /* Warna untuk kasus Sembuh */
  }
  
  .card.meninggal h2 {
    color: #EF476F; /* Warna untuk kasus Meninggal */
  }
  
  .card h2 {
    color: #09ff32;
    font-size: 36px;
    margin-top: 10px;
  }

  @media (min-width: 992px) {
    .card {
        max-width: 12000px;
      margin: 4rem auto;
    }
  }